<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	{% load staticfiles %}
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
	<script src="{% static 'js/module.js' %}"></script>
	<script src="{% static 'js/config.js' %}"></script>
	<script src="{% static 'js/controller/login_controller.js' %}"></script>
	
</head>
<body ng-app="app1">
    <div ng-controller="loginController">
			<nav>
			 <!-- <button>登入</button> -->
				<div>
				{% csrf_token %}
					<label for="un">username</label>
					<input type="" id="un" ng-model="un"/>
					<label for="pw">password</label>
					<input type="" id="pw" ng-model="pw"/>
					<button type="click" ng-click="login()">確認</button>
				</div>
				<!-- <button>登出</button> -->
			</nav>
			
			<div ng-if="verified">
				Welcome, user {$ namen $}
			</div>
			<div ng-if="!verified">
				Please log in.("sidk", "sui2sui2")
			</div>
	</div>
</body>
</html>